@use './sass-variables' as *;

$breakpoint: (
	small: 45em,
	medium: 65em,
	large: 90em
);



.phoneInput_container {
  text-align: center;
  width: 350px;
  height: 41px;
  margin-left: 20px;
  border: 2px solid black;
}


.PhoneInput {
    text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
}


.phoneInput {
    width: 350px;
    height: 100%;
}

.PhoneInputInput {
	height: 40px;
}

.PhoneInputCountryIcon {
	height: 40px;
}

.PhoneInputCountryIcon--square {
	height: 40px;
}


.PhoneInputCountryIconImg {
	width: 100%;
	height: 100%;
}

.PhoneInputCountry {
	position: relative;
	align-self: stretch;
	display: flex;
	align-items: center;

}


.PhoneInputCountrySelect {
	position: absolute;
	top: 0;
	left: 0;
    border: 2px solid black;
	height: 100%;
	width: 100%;
	z-index: 1;
	border: 0;
	opacity: 0;
	cursor: pointer;
}


/* .PhoneInputCountrySelectArrow {
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	margin-left: 0;
	border-style: solid;
	border-color: var(--PhoneInputCountrySelectArrow-color);
	border-top-width: 0;
	border-bottom-width: var(--PhoneInputCountrySelectArrow-borderWidth);
	border-left-width: 0;
	border-right-width: var(--PhoneInputCountrySelectArrow-borderWidth);
	transform: var(--PhoneInputCountrySelectArrow-transform);
	opacity: var(--PhoneInputCountrySelectArrow-opacity); 
} */


/* .PhoneInputCountryIcon--border {
   border: 2px solid green;
} */

.sass {
	padding: 20px;
	background-color: red;

	button {
		color: $greenColor;
		background-color: #fff;
		border-radius: 30%;
		padding: 10px;
		font-size: $fontSize;

		&:hover{
			cursor: pointer;
			color: #fff;
			background-color: $greenColor;
		}
	}

}